<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookShelf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .dropdown-menu {

        }
        .dropdown-menu a {
            display: block;
        }
        .dropdown-menu a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .readTextarea {
            width: 100%;
            resize: none;
            overflow-y: hidden; /* prevents scroll bar flash */
            border: none;
            outline: none;
        }

        #nickname {
            cursor: pointer;
        }

        .dropdown-menu {
            display: none;
            list-style-type: none;
            padding: 0;
            margin: 0;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-menu li {
            padding: 8px 16px;
        }

        .dropdown-menu li a {
            text-decoration: none;
            color: black;
            display: block;
        }

        .dropdown-menu li:hover {
            background-color: #f1f1f1;
        }

        .comment-list {
            margin-top: 20px; /* 예시로 적절한 margin 값을 주세요 */
        }

        .comment-list p {
            color: black;
            margin-bottom: 0;
            padding-left: 10px;
        }

        .comment-col {
            width: 100%; /* 전체 너비를 사용하도록 설정 */
            float: left; /* 왼쪽 정렬 */
            clear: both; /* float 해제 */
            border-top: 1px solid darkgray;
            padding-bottom: 3px;
        }

        .comment-content {
            margin-top: 10px; /* 적절한 margin 값 설정 */
            padding: 10px; /* 적절한 padding 값 설정 */
        }

        .float-right {
            float: right;
        }

        .btn-group {
            float: right;
        }

        .btn-group button {
            margin-left: 5px;
        }

        .commentArea textarea {
            width: 100%;
            height: 80px;
            resize: vertical;
        }
    </style>
    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/comment.js"></script>
    <script src="https://kit.fontawesome.com/5a07bfcb19.js" crossorigin="anonymous"></script>
    <script type="text/javascript">

        const urlParams = new URL(location.href).searchParams;

        let ssUserId;
        let bookmaker;

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            let dropdown = document.getElementById("dropdown");

            document.getElementById("nickname").addEventListener("click", function() {
                if (dropdown.style.display === "none" || dropdown.style.display === "") {
                    dropdown.style.display = "block";
                } else {
                    dropdown.style.display = "none";
                }
            });

            // Hide the dropdown if clicked outside
            document.addEventListener("click", function(event) {
                if (!nickname.contains(event.target) && !dropdown.contains(event.target)) {
                    dropdown.style.display = "none";
                }
            });

            document.getElementById("btnRecordBoard").addEventListener("click", function () {
                window.name = document.getElementById("regId").value

                location.href = "recordBoardList"

            })

            getSsUserId()
            getBoardInfo()
            getCommentList()

            $("div[id^='updateComment']").hide();
            $("div[id^='updateRecomment']").hide();
            $("div[id^='recommentArea']").hide();

            $("#btnEdit").on("click", function () {
                doEdit(); // 게시글 수정하기 실행
            })

            $("#btnDelete").on("click", function () {
                doDelete(); // 게시글 삭제하기 실행
            })

            $("#btnList").on("click", function () {
                location.href = "boardList"; // 게시판 리스트 이동
            })

            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#bookmarkIcon").on("click", function () {
                bookmark()
            })
        })

        // 북마크 모양 수정
        function bookmarkCheck() {
            const element = document.getElementById('bookmarkIcon');

            if (element.classList.contains('fa-regular')) {
                element.classList.remove('fa-regular');
                element.classList.add('fa-solid');

                bookmaker = true;

            } else {
                element.classList.remove('fa-solid');
                element.classList.add('fa-regular');

                bookmaker = false;
            }
        }

        // 세션 아이디 가져오기
        function getSsUserId() {

            $.ajax({
                url: "/user/getSsUserId",
                type: "post",
                dataType: "JSON",
                data: $("#f").serialize(),
                success: function (json) {

                    ssUserId = json.userId
                    setUserId(ssUserId)
                }

            });
        }

        //수정하기
        function doEdit() {
            console.log(ssUserId);
            console.log(document.getElementById("regId").value);

            if (ssUserId === document.getElementById("regId").value) {
                location.href = "boardEditInfo?bSeq=" + document.getElementById("boardSeq").value;

            } else if (ssUserId === "") {
                alert("로그인 하시길 바랍니다.");

            } else {
                alert("본인이 작성한 게시글만 수정 가능합니다.");

            }
        }

        // 본문 내용 가져오기
        function getBoardInfo() {
            $.ajax({
                url: "/board/getBoardInfo",
                type: "post",
                dataType: "JSON",
                data: {
                    "bSeq" : urlParams.get('bSeq'),
                    "type" : true
                },
                success: function (json) {

                    console.log(json);

                    insertData(json.board)
                    insertImg(json.img)
                    getBookmark()
                    getSubCheck()
                }
            });
        }

        function insertImg(images) {

            let imgList = document.getElementById("img")

            images.forEach(function (image) {
                // Create a new img element
                let imgElement = document.createElement("img");

                // Set the width and src attributes
                imgElement.style.width = "90%";
                imgElement.style.margin = "3%"
                imgElement.src = image.saveFileUrl;

                // Append the img element to the imgList element
                imgList.appendChild(imgElement);
            });
        }

        // 본문 내용 입력
        function insertData(json) {
            document.getElementById("boardSeq").value = json.boardSeq;
            document.getElementById("regId").value = json.regId;
            document.getElementById("category").textContent = json.category;
            document.getElementById("title").textContent = json.title;
            document.getElementById("nickname").innerText = "작성자 : " + json.nickname;
            document.getElementById("regDt").innerText = "등록일 : " + json.regDt;
            document.getElementById("readCnt").innerText = "조회수 : " + json.readCnt;
            document.getElementById("contents").value = json.contents;
        }

        // 북마크
        function bookmark() {

            if (ssUserId === "") {
                if (confirm("로그인한 회원만 이용 가능한 기능입니다.\n" +
                    "로그인 하시겠습니까?")) {
                    location.href = "/user/login"
                }
                return

            }

            const data = {
                "boardSeq" : document.getElementById("boardSeq").value,
                "type" : bookmaker
            }

            $.ajax({
                url: "/bookmark/updateBookmark",
                type: "post",
                dataType: "JSON",
                data: data,
                success: function (json) {

                    if (json.result === 0) {
                        alert("오류로 인해 실패 했습니다.\n" +
                            "다시 실행해주세요")
                    } else {
                        bookmarkCheck()
                    }

                }

            });
        }

        // 북마크 여부 가져오기
        function getBookmark() {

            if (ssUserId.length > 0) {

                $.ajax({
                    url: "/bookmark/getBookmark",
                    type: "post",
                    dataType: "JSON",
                    data: {"boardSeq" : document.getElementById("boardSeq").value},
                    success: function (json) {
                        const element = document.getElementById('bookmarkIcon');
                        if (json.result === 1) {
                            element.classList.add('fa-solid');
                            bookmaker = true;
                        } else {
                            element.classList.add('fa-regular');
                            bookmaker = false;
                        }
                    }
                });
            } else {
                document.getElementById('bookmarkIcon').classList.add('fa-regular')
            }
        }

        function getSubCheck() {

            $.ajax({
                url: "/subscribe/getSubCheck",
                type: "POST",
                dataType: "JSON",
                data: {targetId: window.name},
                success: function (json) {
                    console.log(json);

                    if (json === 1) {
                        $("#btnSubscribe").html("구독중")
                    } else {
                        $("#btnSubscribe").html("구독하기")
                    }

                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }
    </script>
</head>
<body data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0" data-current-page="board">
    <!-- 헤더 시작 -->
    <div th:replace="~{header}"></div>
    <!-- 헤더 끝 -->

    <!-- 본문 시작 -->
    <section id="instagram" class="padding-large overflow-hidden">
        <div class="container">
            <div class="card mb-3 btn-rounded-none">
                <!-- PK -->
                <input type="hidden" id="boardSeq">
                <input type="hidden" id="regId">

                <!-- 타이틀 출력 -->
                <div class="card-header">
                    <div style="justify-content: space-between; display: flex;">
                        <!-- 카테고리 -->
                        <span class="badge rounded-pill bg-secondary" id="category" style="margin-bottom: 0.5%; font-size: 1em"></span>

                        <p></p>

                        <!-- 북마크 -->
                        <i class="fa-bookmark fa-2xl" id="bookmarkIcon" style="padding-top: 0.8%"></i>
                    </div>

                    <!-- 타이틀 -->
                    <h3>
                        <span type="text" id="title" disabled=""></span>
                    </h3>

                    <!-- 작성 정보 -->
                    <h6>
                        <span id="nickname"></span>  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                        <ul id="dropdown" class="dropdown-menu" style="margin-left: 1%">
                            <li><span id="btnRecordBoard" style="cursor: pointer">작성한 글 보기</span></li>
                            <li><span id="btnSubscribe" style="cursor: pointer">설정</span></li>
                        </ul>
                        <span  id="regDt"></span >  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                        <span  id="readCnt"></span >
                    </h6>
                </div>

                <div class="card-body">
                    <!-- 이미지 출력 -->
                    <div class="imageArea" style="width: 100%; padding-bottom: 10px;" id="img">
                        <img src="" width="100%"><br><br>
                    </div>

                    <!-- 내용 입력 영역 -->
                    <div>
                        <textarea class="readTextarea" id="contents" rows="16" readonly name="contents" style=" border: none; padding: 10px"></textarea>
                    </div>
                </div>
            </div>

            <!-- 버튼 영역 -->
            <div class="d-flex justify-content-end mb-5">
                <button id="btnEdit" type="button" class="btn btn-outline-dark btn-rounded-none" style="margin-right: 10px">수정</button>
                <button id="btnList" type="button" class="btn btn-outline-dark btn-rounded-none">목록</button>
            </div>


            <!--댓글 영역-->
            <div class="card mx-auto btn-rounded-none">
                <div class="card-body">
                    <!-- TODO 이 카드 타이틀은 뭐에 쓰는것인교? -->
                    <h5 class="card-title" style="text-align: left"></h5>
                    <div class="commentArea" style="text-align: center">
                        <textarea class="form-control btn-rounded-none" name="commentContents" id="commentContents" style="height: 80px; resize: none; margin-bottom: 10px"></textarea>
                        <button class="btn btn-dark btn-rounded-none" type="button" id="btnComment" style="width: 100%" onclick="insertComment(0, 0)">등록</button>
                    </div>
                    <div class="" style="width: 100%;">
                        <div id="commentList" class="comment-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 본문 끝 -->

    <!-- 푸터 시작 -->
    <div th:replace="~{footer}"></div>
    <!-- 푸터 끝 -->
</body>
</html>