<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BookShelf</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet:wght@400;500&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <style>
        .dropdown-menu {
            right: 0;
            top: 60px;
        }
        .dropdown-menu a {
            display: block;
        }
        .dropdown-menu a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-menu {display: block;}

        /* 드롭다운 메뉴가 나타날 때 네비게이션 바가 밀리는 현상을 방지 */
        .navbar-nav {
            position: relative;
        }

        .navbar-nav .dropdown-menu {
            position: absolute;
            right: 0;
            z-index: 1000;
        }
    </style>

    <script src="https://kit.fontawesome.com/5a07bfcb19.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <script type="text/javascript">

        let currentPage

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            getRecordBoardList()

            $("#btnSubscribe").on("click", function () {
                updateSubscribe()
            })

        })

        function updateSubscribe() {

            $.ajax({
                url: "/subscribe/updateSubscribe",
                type: "POST",
                dataType: "JSON",
                data: {targetId: window.name},
                success: function (json) {
                    console.log(json);

                    if (json === 0) {
                        $("#btnSubscribe").html("구독중")
                    } else {
                        $("#btnSubscribe").html("구독하기")
                    }

                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function getSubCheck() {

            $.ajax({
                url: "/subscribe/getSubCheck",
                type: "POST",
                dataType: "JSON",
                data: {targetId: window.name},
                success: function (json) {
                    console.log(json);

                    if (json === 1) {
                        $("#btnSubscribe").html("구독중")
                    } else {
                        $("#btnSubscribe").html("구독하기")
                    }

                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function getRecordBoardList() {

            const urlParams = new URL(location.href).searchParams;
            currentPage = urlParams.get('page');
            let category = urlParams.get('category');
            let keyword = urlParams.get('keyword');

            // page 값이 null이거나 빈 문자열인 경우 0으로 초기화
            if (currentPage === null || currentPage.trim() === "") {
                currentPage = 1;
            } else {
                currentPage = parseInt(currentPage, 10);

                // page 값이 NaN이거나 음수인 경우 0으로 초기화
                if (isNaN(currentPage) || currentPage < 0) {
                    currentPage = 1;
                }
            }

            currentPage++

            $.ajax({
                url: "/board/getRecordBoardList",
                type: "POST",
                dataType: "JSON",
                data: {
                    page: currentPage,
                    category: category,
                    keyword: keyword,
                    regId: window.name
                },
                success: function (json) {
                    console.log(json);

                    insertData(json.content)
                    pagination(json.totalPages, currentPage)

                    getSubCheck()

                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function doDetail(seq) {
            location.href = "boardInfo?bSeq=" + seq
        }

        // 리스트 보여주기
        function insertData(bList) {

            let list = $("#boardList")
            list.empty();

            bList.forEach(function (data) {

                // console.log(data);

                let listOne = $("<tr>")
                    .addClass("listOne table-light")
                    .click(function () {
                        doDetail(data.boardSeq)
                    })

                let category = $("<th>")
                    .text(data.category)
                listOne.append(category)

                let title = $("<th>")
                    .text(data.title)

                if (data.fileYn === "Y") {
                    let fileYn = $("<i>")
                        .addClass("fa-solid fa-image")
                    title.append(fileYn)
                }
                listOne.append(title)

                let commentCnt = $("<th>")
                    .text(data.commentCnt)
                listOne.append(commentCnt)

                let nickname = $("<th>")
                    .text(data.nickname)
                listOne.append(nickname)

                let regDt = $("<th>")
                    .text(data.regDt)
                listOne.append(regDt)

                let readCnt = $("<th>")
                    .text(data.readCnt)
                listOne.append(readCnt)

                list.append(listOne)
            })

        }


    </script>
</head>
<body>
<!-- 메모 목록 페이지 -->

<!-- 상단바 부분 -->
<div th:replace="~{header}"></div>
<br>
<br>

<!-- 내용 부분 -->
<button id="btnSubscribe" class="btn btn-secondary my-2 my-sm-0" style="margin-left: 89%"></button>
<div class="card mb-3 mx-auto" style=" width: 95%; font-family: 'Noto Sans KR', sans-serif; margin-top: 1%">
    <div class="card-body">
        <table class="table table-hover" style="text-align: center">
            <thead>
            <tr>
                <th scope="col" style="width: 10%">카테고리</th>
                <th scope="col" style="width: 40%">제목</th>
                <th scope="col" style="width: 10%">댓글수</th>
                <th scope="col" style="width: 10%">작성자</th>
                <th scope="col" style="width: 20%">작성일</th>
                <th scope="col" style="width: 10%">조회수</th>
            </tr>
            </thead>
            <tbody id="boardList">
            </tbody>
        </table>
    </div>

    <!-- 페이지네이션 영역-->
    <div class="center-pagination mx-auto">
        <ul class="pagination" id="pagination">
        </ul>
    </div>

    <!-- 검색 버튼 영역 -->
    <form class="form-inline my-2 my-lg-0 mx-auto" id="f">
        <div class="input-group mb-3">
            <select name="category" id="category" style="margin-right: 3%">
                <option selected value="">전체</option>
                <option value="기타">기타</option>
                <option value="철학">철학</option>
                <option value="종교">종교</option>
                <option value="과학">과학</option>
                <option value="예술">예술</option>
                <option value="언어">언어</option>
                <option value="문학">문학</option>
                <option value="역사">역사</option>
            </select>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="keyword">
            <button type="submit" class="btn btn-secondary my-2 my-sm-0" id="btnSend">검색</button>
        </div>
    </form>
    <br>
</div>


</body>
</html>