<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookShelf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
        }
    </style>
    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/5a07bfcb19.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <script type="text/javascript">

        let currentPage

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            getNlStarList()

            $("#btnBoardReg").on("click", function () {
                location.href = "boardReg";
            })

        })

        function getNlStarList() {

            const urlParams = new URL(location.href).searchParams;
            currentPage = urlParams.get('page');
            let keyword = urlParams.get('keyword');

            // page 값이 null이거나 빈 문자열인 경우 0으로 초기화
            if (currentPage === null || currentPage.trim() === "") {
                currentPage = 1;
            } else {
                currentPage = parseInt(currentPage, 10);

                // page 값이 NaN이거나 음수인 경우 0으로 초기화
                if (isNaN(currentPage) || currentPage < 0) {
                    currentPage = 1;
                }
            }

            currentPage++

            $.ajax({
                url: "/nlBook/getNlBookList",
                type: "POST",
                dataType: "JSON",
                data: {
                    page: currentPage,
                    keyword: keyword
                },
                success: function (json) {
                    console.log(json);

                    insertData(json.content)
                    pagination(json.totalPages, currentPage)

                    document.getElementById("category").value = category ?? ""
                    document.getElementById("keyword").value = keyword
                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function checkNlBook(data) {
            console.log("1");
            $.ajax({
                url: "/nlBook/checkNlBook",
                type: "POST",
                dataType: "JSON",
                data: data,
                success: function (json) {
                    console.log(json);

                    const element = document.getElementById(data.id)

                    if (json === 0) {
                        element.classList.remove('fa-regular'); // 'fa-regular' 클래스 제거
                        element.classList.add('fa-solid'); // 'fa-solid' 클래스 추가
                    } else {
                        element.classList.remove('fa-solid'); // 'fa-solid' 클래스 제거
                        element.classList.add('fa-regular'); // 'fa-regular' 클래스 추가
                    }

                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        // 리스트 보여주기
        function insertData(bList) {
            let list = $("#boardList");
            list.empty();

            bList.forEach(function (data) {

                data.titleText = data.title

                let listOne = $("<div>")
                    .addClass("listOne item")

                listOne.append(
                    // title
                    $("<div>")
                        .css("width", "25%")
                        .text(data.title),

                    // 보유 장소
                    $("<div>")
                        .css("width", "40%")
                        .html(
                            data.manageName + "(" + data.placeInfo + ")"
                        ),

                    // callNo
                    $("<div>")
                        .css("width", "20%")
                        .text(data.callNo),

                    // star
                    $("<i>")
                        .addClass("fa-star align-self-center fa-solid")
                        .css("width", "15%")
                        .attr({
                            "id": data.id,
                            "aria-hidden": "true"
                        })
                        .click(function () {
                            checkNlBook(data)
                        })

                )
                list.append(listOne);
            });
        }
    </script>
</head>
<body data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0" data-current-page="mdndsidypage">
    <!-- 헤더 시작 -->
    <div th:replace="~{header}"></div>
    <!-- 헤더 끝 -->

    <!-- 본문 시작 -->
    <section id="instagram" class="padding-large overflow-hidden">
        <div class="container">

            <div class="mb-5" id="boardContainer" style="text-align: center">
                <div class="header" style="border-bottom: 2px solid #3A3A3A">
                    <div style="width: 25%">제목</div>
                    <div style="width: 40%">장소</div>
                    <div style="width: 20%">청구기호</div>
                    <div style="width: 15%"></div>
                </div>
                <div id="boardList"></div>
            </div>

            <!-- 페이지네이션 영역-->
            <div class="center-pagination d-flex justify-content-center mb-3">
                <ul class="pagination" id="pagination">
                </ul>
            </div>

            <!-- 검색 버튼 영역 -->
            <form class="form-inline my-2 my-lg-0 d-flex justify-content-center" id="f">
                <div class="col-9">
                    <div class="input-group mb-3">
                        <input class="form-control btn-rounded-none mr-sm-2" type="search" placeholder="Search" name="keyword" id="keyword">
                        <button type="submit" class="btn btn-dark my-2 my-sm-0 btn-rounded-none" id="btnSend">검색</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- 본문 끝 -->

    <!-- 푸터 시작 -->
    <div th:replace="~{footer}"></div>
    <!-- 푸터 끝 -->
</body>
</html>