<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BookShelf</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet:wght@400;500&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <style type="text/css">
        .dropdown-menu {
            right: 0;
            top: 60px;
        }
        .dropdown-menu a {
            display: block;
        }
        .dropdown-menu a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-menu {display: block;}

        /* 드롭다운 메뉴가 나타날 때 네비게이션 바가 밀리는 현상을 방지 */
        .navbar-nav {
            position: relative;
        }

        .navbar-nav .dropdown-menu {
            position: absolute;
            right: 0;
            z-index: 1000;
        }
    </style>

    <script src="https://kit.fontawesome.com/5a07bfcb19.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            $("#header").load("/header.html");

            $("#btnModalShow").on("click", function () {
                $("#nlList").modal("show");
            })

            getRecommendBook()

        })

        function starCheck() {
            const element = document.getElementById('bookmarkIcon');

            if (element.classList.contains('fa-regular')) {
                element.classList.remove('fa-regular');
                element.classList.add('fa-solid');

                bookmaker = true;

            } else {
                element.classList.remove('fa-solid');
                element.classList.add('fa-regular');

                bookmaker = false;
            }
        }

        function getRecommendBook() {
            $.ajax({
                url: "/recommend/getRecommendBook",
                type: "POST",
                dataType: "JSON",
                success: function (json) {
                    console.log(json);
                    document.getElementById("bookTitle").value = json.msg.replace(/^"|"$/g, '')

                    getShoppingList(json.msg.replace(/^"|"$/g, ''))
                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function getShoppingList(bookTitle) {
            $.ajax({
                url: "/recommend/getShoppingList",
                type: "POST",
                dataType: "JSON",
                data: {"bookTitle" : bookTitle},
                success: function (json) {
                    console.log(json);

                    insertData(json.items)

                    getLibraryItem(bookTitle)

                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function getLibraryItem(bookTitle) {
            $.ajax({
                url: "/library/getLibraryItem",
                type: "POST",
                dataType: "JSON",
                data: {"bookTitle" : bookTitle},
                success: function (json) {
                    console.log("-----------------");
                    console.log(json);

                    insertNlBookItem(json.result);


                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function insertNlBookItem(items) {
            let list = $("#list");
            list.empty();

            items.forEach(function (data) {
                let listOne = $("<div>")
                    .addClass("listOne item")

                let div = $("<div>")
                    .addClass("d-flex justify-content-between")
                    .css("width", "100%")

                let div2 = $("<div>")
                    .css("width", "90%")

                let tempDiv = $("<div>")
                    .html(data.titleInfo)

                let title = $("<div>")
                    .text(tempDiv.find('.searching_txt').text());
                div2.append(title);

                data.titleText = title.text()

                let commentCnt = $("<div>")
                    .html(
                        data.manageName + "<br>" +
                        data.placeInfo + "<br>" +
                        data.callNo
                    );
                div2.append(commentCnt);
                div.append(div2)

                let icon = $("<i>")
                    .addClass("fa-star align-self-center")
                    .attr({
                        "id": data.id,
                        "aria-hidden": "true"
                    })
                    .click(function () {
                        checkNlBook(data)
                    })
                div.append(icon);
                listOne.append(div,
                    $("<hr>")
                        .css({
                            "border": "1px dashed",

                        })
                );



                getNlBook(data)

                list.append(listOne);
            });
        }

        function checkNlBook(data) {
            $.ajax({
                url: "/nlBook/checkNlBook",
                type: "POST",
                dataType: "JSON",
                data: data,
                success: function (json) {
                    console.log(json);

                    const element = document.getElementById(data.id)

                    if (json === 0) {
                        element.classList.remove('fa-regular'); // 'fa-regular' 클래스 제거
                        element.classList.add('fa-solid'); // 'fa-solid' 클래스 추가
                    } else {
                        element.classList.remove('fa-solid'); // 'fa-solid' 클래스 제거
                        element.classList.add('fa-regular'); // 'fa-regular' 클래스 추가
                    }

                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function getNlBook(data) {
            $.ajax({
                url: "/nlBook/getNlBook",
                type: "POST",
                dataType: "JSON",
                data: data,
                success: function (json) {
                    console.log(json);

                    const element = document.getElementById(data.id)

                    if (json === 1) {
                        element.classList.add('fa-solid')

                    } else {
                        element.classList.add('fa-regular')
                    }

                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function insertData(items){
            if (items.length !== 0) {
                items.forEach(function (item) {

                    let div = $("#data")
                    div.empty()

                    div.append(
                        $("<span>")
                            .html("저자 : " + item.author),

                        $("<br>"),

                        $("<span>")
                            .html("가격 : " + item.discount + "원")
                            .css("float", "left"),

                        $("<a>")
                            .html("바로가기")
                            .attr({
                                "href": item.link,
                                "target": "_blank"
                            })
                            .css("float", "right"),

                        $("<br>"),

                        $("<img>")
                            .attr("src", item.image)
                            .css({
                                "width": "40%",
                                "float": "right",
                                "margin-right": "2%"
                            }),

                        $("<span>")
                            .html(item.description.replace(/[\n.!?]/g, '<br>'))
                            .attr("readonly", "readonly")
                            .css({
                                "width": "40%",
                                "height": "300px",
                                "border": "none"
                            }),

                        $("<br>")
                    )
                })

            } else {
                getRecommendBook()
            }
        }


    </script>
</head>
<body>
<!-- 메모 목록 페이지 -->

<!-- 상단바 부분 -->
<div th:replace="~{header}"></div>
<br>
<br>
<div class="card mb-3 mx-auto" style=" width: 95%; font-family: 'Noto Sans KR', sans-serif;">
    <div class="card-body mx-auto">
        <h1 style="font-family: 'Do Hyeon', sans-serif;">무작위 도서 추천</h1>
        <i class="fa-solid fa-circle-exclamation" id="btnModalShow"></i>
    </div>

    <form id="f" class="mx-auto" style="width: 80%;">
        <div class="form-group">
            <label class="form-label mt-4">책 제목</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="bookTitle" name="bookTitle" disabled="">
            </div>
            <div id="data"></div>
        </div>
    </form>

</div>

<div id="nlList" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">국립중앙도서관 소장자료</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="del">
                <div class="modal-body">
                    <div class="form-floating mb-3 mx-auto" style="width: 98%" id="list">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>