<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookShelf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
        }
    </style>
    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/move.js"></script>
    <script type="text/javascript">

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            checkLogin()

            // 로그인
            $("#btnSend").on("click", function () {
                login()
            })

            // 네이버 로그인
            $("#btnNaverLogin").on("click", function () {
                location.href = "https://nid.naver.com/oauth2.0/authorize?" +
                    "response_type=code&" +
                    "client_id=Go3RUangwA4y64jc2JQG&" +
                    "redirect_uri=https://mybookcase.store/auth/naver/callback&" +
                    // "redirect_uri=http://localhost:11000/auth/naver/callback&" +
                    "state=myBookShelf"
            })

            // 카카오 로그인
            $("#btnKakaoLogin").on("click", function () {
                location.href = "https://kauth.kakao.com/oauth/authorize?" +
                    "client_id=93a5a7d1a089d126ad5870374768507a&" +
                    "redirect_uri=https://mybookcase.store/auth/kakao/callback&" +
                    // "redirect_uri=http://localhost:11000/auth/kakao/callback&" +
                    "response_type=code"
            })

            // 구글 로그인
            $("#btnGoogleLogin").on("click", function () {
                location.href = "https://accounts.google.com/o/oauth2/v2/auth?" +
                    "client_id=1048145536023-kdrh7sjdghfi1lkum2h2o5cjut85950m.apps.googleusercontent.com&" +
                    "redirect_uri=http://localhost:11000/login/oauth2/code/google&" +
                    "response_type=code&" +
                    "scope=email profile"
            })

            $("#password").on("keypress", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault(); // 폼 제출 방지
                    $("#btnSend").click();
                }
            });

        })

        function checkLogin() {

            $.ajax({
                url: "/user/getSsUserId",
                type: "post",
                dataType: "JSON",
                data: $("#f").serialize(),
                success: function (json) {

                    if (json.userId.length > 0) {
                        location.href = "/main"
                    }


                }

            });
        }

        function login() {
            let f = document.getElementById("f"); // form 태그

            if (f.userId.value === "") {
                alert("아이디를 입력하세요.");
                f.userId.focus();
                return;
            }

            if (f.password.value === "") {
                alert("비밀번호를 입력하세요.");
                f.password.focus();
                return;
            }

            console.log($("#f").serialize());

            $.ajax({
                url: "/user/loginProc",
                type: "post", // 전송방식은 Post
                dataType: "JSON", // 전송 결과는 JSON으로 받기
                data: $("#f").serialize(),
                success: function (json) {

                    console.log(json);

                    if (json === 1) {
                        location.href = "../main";

                    } else { // 회원가입 실패
                        alert("실패하였습니다. \n" +
                            "다시 확인해주세요"); // 메시지 띄우기
                    }
                }
            })
        }
    </script>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
    <!-- 헤더 시작 -->
    <div th:replace="~{header}"></div>
    <!-- 헤더 끝 -->

    <!-- 본문 시작 -->
    <section id="company-services" class="padding-large">
        <!-- 상단 빈영역 때문에 추가함 -->
    </section>
    <section id="instagram" class="padding-large overflow-hidden no-padding-top">
        <div class="container">
            <div class="row">
                <div class="display-header text-uppercase text-dark text-center pb-3">
                    <h2 class="display-7">로그인</h2>
                </div>
                <div class="d-flex">
                    <form id="f" class="mx-auto" style="width:80%;">
                        <!-- 아이디 입력 영역 -->
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control btn-rounded-none" name="userId" id="userId" placeholder="아이디">
                            <label for="userId">아이디</label>
                        </div>

                        <!-- 비밀번호 입력 영역 -->
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control btn-rounded-none" name="password" id="password" placeholder="비밀번호">
                            <label for="password">비밀번호</label>
                        </div>

                        <!-- 로그인 버튼 영역 -->
                        <div class="d-grid gap-2 mb-5">
                            <button type="button" id="btnSend" class="btn btn-medium btn-dark text-uppercase btn-rounded-none" style="height: 58px">로그인</button>
                        </div>

                        <!-- 다른 계정으로 로그인 영역 -->
                        <div id="other_login" class="otherButton text-center">
                            <span class="text-secondary">다른 계정으로 로그인</span>
                            <!-- 네이버 로그인 API -->
                            <button type="button" id="btnNaverLogin" class="btn btn-rounded-none btn-box-shadow-none"><img src="/img/naverIcon.png" alt="네이버로그인" style="width: 40px;height: 40px;"></button>
                            <!-- 카카오 로그인 API -->
                            <button type="button" id="btnKakaoLogin" class="btn btn-rounded-none btn-box-shadow-none"><img src="/img/kakaoIcon.png" alt="카카오로그인" style="width: 40px;height: 40px;"></button>
                            <!-- 구글 로그인 API -->
<!--                            <button type="button" id="btnGoogleLogin" class="btn btn-rounded-none btn-box-shadow-none"><img src="/img/kakaoIcon.png" alt="카카오로그인" style="width: 40px;height: 40px;"></button>-->
                        </div>
                        <br>

                        <div class="row" style="text-align: center">
                            <!-- 회원가입으로 넘어가는 버튼 영역 -->
                            <div class="mx-auto">
                                <button type="button" class="btn btn-link text-secondary btn-rounded-none btn-box-shadow-none" id="btnSignUp">회원가입</button>
                            </div>
                            <!-- 아이디/비밀번호 찾기 영역 -->
                            <div class="mx-auto">
                                <button type="button" class="btn btn-link text-secondary btn-rounded-none btn-box-shadow-none" id="btnFindId">아이디 찾기</button>
                                <button type="button" class="btn btn-link text-secondary btn-rounded-none btn-box-shadow-none" id="btnFindPassword">비밀번호 찾기</button>
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- 본문 끝 -->

    <!-- 푸터 시작 -->
    <div th:replace="~{footer}"></div>
    <!-- 푸터 끝 -->
</body>
</html>