<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>myBoard</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet:wght@400;500&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <style th:inline="css">
        .dropdown-menu {
            right: 0;
            top: 60px;
        }
        .dropdown-menu a {
            display: block;
        }
        .dropdown-menu a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-menu {display: block;}

        /* 드롭다운 메뉴가 나타날 때 네비게이션 바가 밀리는 현상을 방지 */
        .navbar-nav {
            position: relative;
        }

        .navbar-nav .dropdown-menu {
            position: absolute;
            right: 0;
            z-index: 1000;
        }
    </style>

    <script src="https://kit.fontawesome.com/5a07bfcb19.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <script type="text/javascript">

        let currentPage

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            $("#header").load("/header.html");

            getMyBoard()

            $("#btnSend").on("click", function () {

                let f = document.getElementById("f");

                if (f.keyword.value === "") {
                    alert("검색어를 입력하세요");
                    f.keyword.focus();
                    return;
                }

            })

            $("#btnCalendar").on("click", function () {
                location.href = "calendar"

            })

        })

        // 내 도서 리스트 가져오기
        function getMyBoard() {

            const urlParams = new URL(location.href).searchParams;
            currentPage = urlParams.get('page');
            let title = urlParams.get('title');

            // page 값이 null이거나 빈 문자열인 경우 0으로 초기화
            if (currentPage === null || currentPage.trim() === "") {
                currentPage = 1;
            } else {
                currentPage = parseInt(currentPage, 10);

                // page 값이 NaN이거나 음수인 경우 0으로 초기화
                if (isNaN(currentPage) || currentPage < 0) {
                    currentPage = 1;
                }
            }

            currentPage++

            $.ajax({
                url: "/bookShelf/getMyBookPage",
                type: "POST",
                dataType: "JSON",
                data: {
                    "page" : currentPage,
                    "title": title
                },
                success: function (json) {
                    console.log(json);

                    insertData(json.content)
                    pagination(json.totalPages, currentPage)
                    document.getElementById("title").value = title

                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        // 리스트 보여주기
        function insertData(bList) {

            let list = $("#bookList")
            list.empty();

            bList.forEach(function (data) {

                console.log(data);

                let listOne = $("<tr>")
                    .addClass("listOne table-light")

                let title = $("<th>")
                    .text(data.title)
                listOne.append(title)

                let regDt = $("<th>")
                    .text(`${data.regDt[0]}-${String(data.regDt[1]).padStart(2, '0')}-${String(data.regDt[2]).padStart(2, '0')}`)
                listOne.append(regDt)

                list.append(listOne)
            })

        }


    </script>
</head>
<body>
<!-- 메모 목록 페이지 -->

<!-- 상단바 부분 -->
<div th:replace="~{header}"></div>
<br>
<br>

<!-- 내용 부분 -->
<button id="btnCalendar" class="btn btn-secondary my-2 my-sm-0" style="margin-left: 82%">달력으로 보기</button>
<div class="card mb-3 mx-auto" style=" width: 95%; font-family: 'Noto Sans KR', sans-serif; margin-top: 1%">
    <div class="card-body">
        <table class="table table-hover" style="text-align: center">
            <thead>
            <tr>
                <th scope="col" style="width: 80%">제목</th>
                <th scope="col" style="width: 20%">작성일</th>
            </tr>
            </thead>
            <tbody id="bookList">

            </tbody>
        </table>
    </div>

    <!-- 페이지네이션 영역-->
    <div class="center-pagination mx-auto">
        <ul class="pagination" id="pagination">
        </ul>
    </div>

    <!-- 검색 버튼 영역 -->
    <form class="form-inline my-2 my-lg-0 mx-auto" id="f">
        <div class="input-group mb-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="title" id="title">
            <button type="submit" class="btn btn-secondary my-2 my-sm-0" id="btnSend">검색</button>
        </div>
    </form>
    <br>
</div>


</body>
</html>