<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookShelf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
        }
    </style>
    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <script src="https://kit.fontawesome.com/5a07bfcb19.js" crossorigin="anonymous"></script>
    <script type="text/javascript">

        let currentPage

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            getMyComment()

            $("#btnSend").on("click", function () {

                let f = document.getElementById("f");

                if (f.keyword.value === "") {
                    alert("검색어를 입력하세요");
                    f.keyword.focus();
                    return;
                }

            })
            getSsUserId()

        })

        function getSsUserId() {

            $.ajax({
                url: "/user/getSsUserId",
                type: "post",
                dataType: "JSON",
                data: $("#f").serialize(),
                success: function (json) {

                    if (json.userId.length > 0) {
                    } else {
                        alert("로그인 후 이용가능합니다.")
                        location.href = "/user/login"
                    }

                }

            });
        }

        // 내댓글 리스트 가져오기
        function getMyComment() {

            const urlParams = new URL(location.href).searchParams;
            currentPage = urlParams.get('page');

            // page 값이 null이거나 빈 문자열인 경우 0으로 초기화
            if (currentPage === null || currentPage.trim() === "") {
                currentPage = 1;
            } else {
                currentPage = parseInt(currentPage, 10);

                // page 값이 NaN이거나 음수인 경우 0으로 초기화
                if (isNaN(currentPage) || currentPage < 0) {
                    currentPage = 1;
                }
            }

            currentPage++

            $.ajax({
                url: "/comment/getMyComment",
                type: "POST",
                dataType: "JSON",
                data: {"page" : currentPage},
                success: function (json) {
                    console.log(json);

                    insertData(json.content)
                    pagination(json.totalPages, currentPage)

                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function doDetail(seq) {
            location.href = "/board/boardInfo?bSeq=" + seq
        }

        // 리스트 보여주기
        function insertData(bList) {

            let list = $("#boardList")
            list.empty();

            bList.forEach(function (data) {

                console.log(data);

                let listOne = $("<div>")
                    .addClass("listOne item")
                    .click(function () {
                        doDetail(data.boardSeq)
                    })

                let contents = $("<div>")
                    .css("width", "80%")
                    .text(data.contents)
                listOne.append(contents)

                let regDt = $("<div>")
                    .css("width", "20%")
                    .text(data.regDt)
                listOne.append(regDt)

                list.append(listOne)
            })

        }
    </script>
</head>
<body data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0" data-current-page="mypage">
    <!-- 헤더 시작 -->
    <div th:replace="~{header}"></div>
    <!-- 헤더 끝 -->

    <!-- 본문 시작 -->
    <section id="instagram" class="padding-large overflow-hidden">
        <div class="container">
            <div class="d-flex justify-content-end mb-3">
                <button id="btnBoardReg" class="btn btn-secondary my-2 my-sm-0 btn-rounded-none">글 쓰기</button>
            </div>

            <div class="mb-5" id="boardContainer" style="text-align: center">
                <div class="header" style="border-bottom: 2px solid #3A3A3A">
                    <div style="width: 80%">내용</div>
                    <div style="width: 20%">작성일</div>
                </div>
                <div id="boardList"></div>
            </div>

            <!-- 페이지네이션 영역-->
            <div class="center-pagination d-flex justify-content-center mb-3">
                <ul class="pagination" id="pagination">
                </ul>
            </div>
        </div>
    </section>
    <!-- 본문 끝 -->

    <!-- 푸터 시작 -->
    <div th:replace="~{footer}"></div>
    <!-- 푸터 끝 -->
</body>
</html>