<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookShelf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .checkArea p {
            color: black;
        }

        /* 숨기기 위해 기본 체크박스 스타일 설정 */
        input[type="checkbox"] {
            display: none;
        }

        /* 커스텀 체크박스 스타일 */
        input[type="checkbox"] + label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            font-size: 18px;
            user-select: none;
        }

        input[type="checkbox"] + label::before {
            content: '';
            position: absolute;
            left: 0;
            top: 3.2px;
            width: 25px;
            height: 25px;
            border: 2px solid #ccc;
            border-radius: 0;
            background: #fff;
        }

        /* 체크박스 체크 시 스타일 */
        input[type="checkbox"]:checked + label::before {
            background: var(--accent-color);
            border-color: var(--accent-color);
        }

        input[type="checkbox"]:checked + label::after {
            content: '';
            position: absolute;
            left: 9px;
            top: 7px;
            width: 8px;
            height: 14px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

        /* 레이블 텍스트 스타일 */
        input[type="checkbox"] + label {
            margin-bottom: 10px;
            display: inline-block;
        }
    </style>
    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/move.js"></script>
    <script type="text/javascript">

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            $("#header").load("/header.html");

            let f = document.getElementById("f"); // form 태그

            getMyInfo();
            getPreferList()

            // 정보 수정
            $("#btnSend").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                doSubmit(f);
            })

            $("#btnPrefer").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                updatePrefer()
            })

            // 비밀번호 재설정 팝업창 열기 클릭 이벤트
            $("#btnChgPw").on("click", function () {
                $("#chgPw").modal("show");
            })

            // 모달 내의 버튼 클릭 이벤트 설정
            $('#chgPw').on('shown.bs.modal', function (e) {
                $("#modalBtnChgPw").on("click", function () {
                    doSubmitPw(document.forms["chgPw"]);
                });
            });

            // 마이페이지에서 탈퇴하기 팝업창 열기 클릭 이벤트
            $("#btnDel").on("click", function () {
                // userDelete 팝업을 보이도록 설정
                $("#userDelete").modal("show");
            });

            // 탈퇴하기 버튼 클릭 이벤트
            $("#modalBtnDel").click(function () {
                let res = confirm("정말로 탈퇴하시겠습니까?");

                if (res === false) {
                    return;
                }

                if (res === true) {

                    if ($("#userDeletePw").val() === "탈퇴하기") {
                        doSubmitDel(del);
                    } else {
                        alert("일치하지 않습니다.")
                    }
                }

            });

            getSsUserId()

        })

        function getSsUserId() {

            $.ajax({
                url: "/user/getSsUserId",
                type: "post",
                dataType: "JSON",
                data: $("#f").serialize(),
                success: function (json) {

                    if (json.userId.length > 0) {
                    } else {
                        alert("로그인 후 이용가능합니다.")
                        location.href = "/user/login"
                    }

                }

            });
        }

        function getPreferList() {
            $.ajax({
                url: "/prefer/getPreferList",
                type: "post",
                dataType: "JSON",
                success: function (json) {
                    console.log(json);

                    json.forEach(function (data) {
                        let checkbox = document.getElementById(data.category);
                        if (checkbox) {
                            checkbox.checked = true;
                        }
                    });
                }
            });
        }

        function updatePrefer() {

            const query = 'input[name="category"]:checked';
            const selectedEls = document.querySelectorAll(query);
            const selectedIds = Array.from(selectedEls).map(el => el.id);

            console.log(selectedIds); // 예: ["문학", "역사"]

            $.ajax({
                url: "/prefer/updatePrefer",
                type: "post",
                dataType: "JSON",
                traditional: true,
                data: {"category": selectedIds},
                success: function (json) {
                }
            });

        }

        // 내 정보 가져오기
        function getMyInfo() {

            $.ajax({
                url: "/user/getUserInfo",
                type: "post",
                dataType: "JSON",
                data: $("#f").serialize(),
                success: function (json) {
                    const userId = json.userId;
                    const firstFiveChars = userId.slice(0, 5);
                    if (firstFiveChars === 'naver') {
                        $("#userId").val('naver');
                    } else if (firstFiveChars === 'kakao') {
                        $("#userId").val('kakao');
                    } else {
                        $("#userId").val(userId);
                    }
                    $("#email").val(json.email)
                    $("#userName").val(json.userName)
                    $("#nickname").val(json.nickname)
                }
            })
        }

        // 비밀번호 확인
        function pwCheck() {
            const element = document.getElementById('newPassword1');
            element.classList.remove('is-invalid')
            element.classList.remove('is-valid')
            if ($('#newPassword').val() === $('#newPassword1').val()) {
                $('#pwConfirm').text('비밀번호 일치').css('color', 'green');
                document.getElementById('newPassword1').className += ' is-valid'

            } else {
                $('#pwConfirm').text('비밀번호 불일치').css('color', 'red');
                document.getElementById('newPassword1').className += ' is-invalid'
            }
        }

        // 회원 정보의 유효성 체크하기
        function doSubmit(f) {

            if (f.nickname.value === "") {
                alert("닉네임을 입력하세요.");
                f.nickname.focus();
                return;
            }

            // Ajax 호출해서 회원 정보 수정하기
            $.ajax({
                url: "/user/updateUserInfo",
                type: "post", // 전송방식은 Post
                dataType: "JSON", // 전송 결과는 JSON으로 받기
                data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                success: function (json) { // /notice/noticeUpdate 호출이 성공했다면..

                    console.log(json);
                    alert(json.msg); // 메시지 띄우기

                    if (json.result === 1) { // 수정 성공
                        location.reload()

                    }

                }
            })
        }

        // 비번 수정
        function doSubmitPw(fo) {

            if (fo.password.value === "") {
                alert("현재 비밀번호를 입력하세요.");
                fo.password.focus();
                return;
            }

            if (fo.newPassword.value === "") {
                alert("새 비밀번호 입력하세요.");
                fo.newPassword.focus();
                return;
            }

            if (fo.newPassword1.value === "") {
                alert("새 비밀번호 확인을 입력하세요.");
                fo.newPassword1.focus();
                return;
            }

            if (confirm("회원정보를 수정하시겠습니까?")) {

                const requestData = {
                    email: document.getElementById("email").value,
                    userName: document.getElementById("userName").value,
                    password: document.getElementById("password").value,
                    newPassword: document.getElementById("newPassword").value
                }

                console.log(requestData);

                // Ajax 호출해서 회원 정보 수정하기
                $.ajax({
                    url: "/user/updatePassword",
                    type: "post", // 전송방식은 Post
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: requestData,
                    success: function (json) { // /notice/noticeUpdate 호출이 성공했다면..

                        console.log(json);
                        alert(json.msg); // 메시지 띄우기

                        if (json.result === 1) { // 수정 성공
                            location.reload()

                        }

                    }
                })
            }
        }

        function doSubmitDel() {            // Ajax 호출해서 회원 정보 수정하기
            $.ajax({
                url: "/user/deleteUserInfo",
                type: "post", // 전송방식은 Post
                dataType: "JSON",
                success: function (json) {
                    console.log(json);
                    alert(json.msg); // 메시지 띄우기
                    location.href = "../main"

                }
            })
        }
    </script>
</head>
<body data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0"
      data-current-page="mypage">
<!-- 헤더 시작 -->
<div th:replace="~{header}"></div>
<!-- 헤더 끝 -->

<!-- 본문 시작 -->
<section id="instagram" class="padding-large overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="display-header text-uppercase text-dark text-center pb-3">
                <h2 class="display-7">내 정보</h2>
            </div>
            <form id="f" class="mx-auto" style="width: 80%;">
                <div style="justify-content: space-between; display: flex">
                    <!-- 왼쪽 개인 정보-->
                    <div style="width: 60%; margin-right: 5%">
                        <div class="form-group">
                            <label class="form-label mt-4">아이디</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control btn-rounded-none" id="userId" name="userId"
                                       disabled="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label mt-4">이메일</label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control btn-rounded-none" id="email" name="email"
                                       disabled="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label mt-4">이름</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control btn-rounded-none" id="userName" name="userName"
                                       disabled="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label mt-4">닉네임</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control btn-rounded-none" id="nickname" name="nickname">
                            </div>
                        </div>

                        <div class="mx-auto mt-4" style="text-align: center">
                            <button id="btnSend" type="button" class="btn btn-black btn-rounded-none">내정보 수정</button>
                            <button id="btnChgPw" type="button" class="btn btn-black btn-rounded-none">비밀번호 수정</button>
                        </div>
                    </div>

                    <!-- 오른쪽 선호 종류 -->
                    <div class="checkArea" style="width: 40%; border-left: 2px solid darkgray; padding-left: 3%">
                        <br/>
                        <h5 class="mx-auto" style="text-align: center"> 선호 장르</h5>

                        <p><input type="checkbox" value="철학" name="category" id="철학"><label for="철학">철학</label></p>
                        <p><input type="checkbox" value="종교" name="category" id="종교"><label for="종교">종교</label></p>
                        <p><input type="checkbox" value="과학" name="category" id="과학"><label for="과학">과학</label></p>
                        <p><input type="checkbox" value="예술" name="category" id="예술"><label for="예술">예술</label></p>
                        <p><input type="checkbox" value="언어" name="category" id="언어"><label for="언어">언어</label></p>
                        <p><input type="checkbox" value="문학" name="category" id="문학"><label for="문학">문학</label></p>
                        <p><input type="checkbox" value="역사" name="category" id="역사"><label for="역사">역사</label></p>

                        <div class="mx-auto" style="text-align: center">
                            <button id="btnPrefer" type="button" class="btn btn-black btn-rounded-none">수정 하기</button>
                        </div>
                    </div>

                </div>
            </form>

            <button type="button" id="btnDel" class="btn btn-link text-secondary mt-5 btn-box-shadow-none"
                    data-bs-toggle="modal" data-bs-target="userDelete">회원 탈퇴
            </button>
        </div>
    </div>
</section>

<!-- 비밀번호 재설정 팝업 -->
<div id="chgPw" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">비밀번호 변경</h5>
                <button type="button" class="btn-close btn-box-shadow-none" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form name="chgPw" id="fo">
                <br/>
                <br/>
                <div class="form-group mx-auto" style="width: 90%;">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control btn-rounded-none" name="password" id="password"
                               placeholder="현재 비밀번호">
                        <label for="password">현재 비밀번호</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control btn-rounded-none" name="newPassword" id="newPassword"
                               placeholder="새 비밀번호" oninput="pwCheck()">
                        <label for="newPassword">새 비밀번호</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control btn-rounded-none" name="newPassword1"
                               id="newPassword1" placeholder="새 비밀번호 확인" oninput="pwCheck()">
                        <label for="newPassword1">새 비밀번호 확인</label>
                    </div>
                </div>
            </form>
            <br/><br/>
            <div class="modal-footer">
                <button type="submit" id="modalBtnChgPw" class="btn btn-black btn-rounded-none">수정</button>
                <button type="button" class="btn btn-secondary btn-rounded-none" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 회원 탈퇴 팝업 -->
<div id="userDelete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">회원 탈퇴</h5>
                <button type="button" class="btn-close btn-box-shadow-none" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form id="del">
                <div class="modal-body">
                    <p style="color: black">탈퇴를 진행하시려면 '탈퇴하기'를 입력해주세요.</p>
                    <div class="form-floating mb-3 mx-auto" style="width: 98%">
                        <input type="text" id="userDeletePw" name="userDeletePw"
                               class="form-control btn-rounded-none" placeholder="탈퇴하기" required>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" class="btn btn-black btn-rounded-none" id="modalBtnDel">탈퇴하기</button>
                <button type="button" class="btn btn-secondary btn-rounded-none" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- 본문 끝 -->

<!-- 푸터 시작 -->
<div th:replace="~{footer}"></div>
<!-- 푸터 끝 -->
</body>
</html>