<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Bookshelf</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet:wght@400;500&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <style>
        .dropdown-menu {
            right: 0;
            top: 60px;
        }
        .dropdown-menu a {
            display: block;
        }
        .dropdown-menu a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-menu {display: block;}

        /* 드롭다운 메뉴가 나타날 때 네비게이션 바가 밀리는 현상을 방지 */
        .navbar-nav {
            position: relative;
        }

        .navbar-nav .dropdown-menu {
            position: absolute;
            right: 0;
            z-index: 1000;
        }
    </style>

    <script src="https://kit.fontawesome.com/5a07bfcb19.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <script type="text/javascript">

        let currentPage

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            getMySubscribe()
        })

        // 북마크 리스트 가져오기
        function getMySubscribe() {

            const urlParams = new URL(location.href).searchParams;
            currentPage = urlParams.get('page');

            // page 값이 null이거나 빈 문자열인 경우 0으로 초기화
            if (currentPage === null || currentPage.trim() === "") {
                currentPage = 1;
            } else {
                currentPage = parseInt(currentPage, 10);

                // page 값이 NaN이거나 음수인 경우 0으로 초기화
                if (isNaN(currentPage) || currentPage < 0) {
                    currentPage = 1;
                }
            }

            currentPage++

            $.ajax({
                url: "/subscribe/getMySubscribeList",
                type: "POST",
                dataType: "JSON",
                data: {"page" : currentPage},
                success: function (json) {
                    console.log(json);

                    insertData(json.content)
                    pagination(json.totalPages, currentPage)


                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        // 리스트 보여주기
        function insertData(bList) {

            let list = $("#list")
            list.empty();

            bList.forEach(function (data) {

                console.log(data);

                let listOne = $("<tr>")
                    .addClass("listOne table-light")

                let targetNickname = $("<th>")
                    .text(data.targetNickname)
                    .click(function () {
                        doDetail(data.targetId)
                    })
                listOne.append(targetNickname)

                let button = $("<button>")
                    .text("구독취소")
                    .click(function () {
                        updateSubscribe(data.targetId)
                    })
                listOne.append(button)

                list.append(listOne)
            })

        }

        function updateSubscribe(id) {

            $.ajax({
                url: "/subscribe/updateSubscribe",
                type: "POST",
                dataType: "JSON",
                data: {targetId: id},
                success: function (json) {
                    getMySubscribe()
                },
                error: function(xhr, status, error) {
                    console.error("AJAX 호출 중 에러 발생:", error);
                }
            });
        }

        function doDetail(id) {
            window.name = id
            location.href = "/board/recordBoardList"
        }

    </script>
</head>
<body>
<!-- 메모 목록 페이지 -->

<!-- 상단바 부분 -->
<div th:replace="~{header}"></div>
<br>
<br>

<!-- 내용 부분 -->


<div class="card mb-3 mx-auto" style=" width: 95%; font-family: 'Noto Sans KR', sans-serif; margin-top: 1%">
    <div class="card-body">
        <table class="table table-hover" style="text-align: center">
            <h4 class="mx-auto" style="text-align: center">내 구독 리스트</h4>
            <thead>
            <tr>
                <th scope="col" style="width: 80%">닉네임</th>
                <th scope="col" style="width: 20%"></th>
            </tr>
            </thead>
            <tbody id="list">

            </tbody>
        </table>
    </div>

    <!-- 페이지네이션 영역-->
    <div class="center-pagination mx-auto">
        <ul class="pagination" id="pagination">
        </ul>
    </div>
    <br>
</div>


</body>
</html>