.header, .item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header > div, .item > div {
    padding: 10px;
}

.header {
    font-weight: bold;
}

.item {
    border-bottom: 1px solid #d0d0d0;
}

.item:hover {
    background-color: #e9ecef;
    cursor: pointer;
}