<footer id="footer" class="overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="footer-top-area">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <img src="/img/main-logo.png" alt="logo">
                            <p style="font-size: 1em">Discover your next favorite read with BookShelf! Our platform not only recommends books tailored to your taste but also allows you to share and explore insightful posts about your literary journey. Join our community of book lovers today!</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2">Quick Links</h5>
                            <ul class="menu-list list-unstyled text-uppercase">
                                <li class="menu-item pb-2">
                                    <a href="/main">Home</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="/board/boardList">게시판</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="/recommend/bookRecommend">오늘의 추천 도서</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="/notice/noticeList">공지사항</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">

                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu contact-item">
                            <h5 class="widget-title text-uppercase pb-2">Contact Us</h5>
                            <p>Do you have any queries or suggestions? <a href="mailto:">yourinfo@gmail.com</a>
                            </p>
                            <p>If you need support? Just give us a call. <a href="">+55 111 222 333 44</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</footer>
<div id="footer-bottom">
    <div class="container">
        <div class="row d-flex justify-content-center text-center">
            <div class="copyright">
                <p>© Copyright 2023 MiniStore. Design by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distribution by <a href="https://themewagon.com">ThemeWagon</a>
                </p>
            </div>
        </div>
    </div>
</div>
