<!-- 상단바 부분 -->
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light" style="padding: 12px 12px; font-family: 'Do Hyeon', sans-serif;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- 로고 또는 브랜드 이름 -->
        <a class="navbar-brand mx-auto" href="../main" style="font-size: 45px;">BookShelf</a>
    </div>
    <div>
        <span id="logout" style="margin-right: 5%;">logout</span>
    </div>
</nav>

<script type="text/javascript">

    $(document).ready(function () {

        getSsUserId1()

        // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        $("#logout").on("click", function () {
            logout(); // 메모 수정하기 실행
        })

    })

    function getSsUserId1() {

        $.ajax({
            url: "/user/getSsUserId",
            type: "post",
            dataType: "JSON",
            data: $("#f").serialize(),
            success: function (json) {

                if (json.userId.length > 0) {
                    console.log(json.userId.length);

                } else {
                    document.getElementById("logout").style.display = "none";

                }

            }

        });
    }

    function logout() {
        $.ajax({
            url: "/user/logout",
            type: "post",
            dataType: "JSON",
            success: function (json) {

                location.href = "main"

            }

        });
    }
</script>