<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookShelf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
        }

        @media only screen and (max-width: 991px) {
            #info {
                background-color: rgba(240, 240, 240, 0.9);
            }
        }
    </style>
    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0" data-current-page="home">
    <!-- 헤더 시작 -->
    <div th:replace="~{header}"></div>
    <!-- 헤더 끝 -->

    <!-- 본문 시작 -->
    <section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge mb-4" style="background-image: url('https://bookshelf.kr.object.ncloudstorage.com/blackbook.jpg');background-position: right; background-repeat: no-repeat;">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-md-6 col-sm-12" id="info">
                <div class="text-content offset-4 padding-medium">
                    <img src="https://bookshelf.kr.object.ncloudstorage.com/main-logo.png" alt="logo">
                    <p class="text-uppercase text-dark">Discover your next favorite read with BookShelf! Our platform not only recommends books tailored to your taste but also allows you to share and explore insightful posts about your literary journey. Join our community of book lovers today!</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">

            </div>
        </div>
    </section>
    <!-- 본문 끝 -->

    <!-- 푸터 시작 -->
    <div th:replace="~{footer}"></div>
    <!-- 푸터 끝 -->
</body>
</html>